@media (max-width: 64rem) {
  header .container {
    width: 100vw;
    top: 0;
    left: 0;
  }

  #hero .container.flex {
    display: block;
    height: auto;
    padding-top: 100%;
  }

  .hero-text {
    margin-top: var(--size-10);
  }

  #promotion .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .promotion-image {
    justify-self: center;
  }

  .promotion-item {
    flex-direction: column;
  }
}

@media (max-width: 48rem) {
  .backdrop.active {
    display: block;
  }
  header .container {
    padding: var(--size-5);
  }
  #logo {
  }
  #main-nav {
    display: none;
  }

  #mobile-nav.active {
    display: block;
  }

  #features.grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .testimonial-statements {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  #main-footer .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: var(--size-12);
  }

  .footer-text {
    align-self: center;
  }
}
